nav{
    background-image: url(../img/huellas\ perro.png);
    color: black;
    font-size: x-large;
   
    padding: 50px;
}

footer{
    background-image: url(../img/huellas\ perro.png);
    color: black;
    font-size: x-large;
    padding: 50px;
}

body{
    height: 900px;
   
    
}

h1{
    text-align: center;
    color: goldenrod;
    
    padding: 50px;    
}

h2{
    color: black;
    background-color: goldenrod; 
    width: 200px;
    text-align: center;
}

.pestanas{
    color: orangered;
    padding: 20px;
}

.buscador{
    text-align: center;
    
    padding: 30px;
}


.principal {
 
    display: flex;
   justify-content: center;
  
   
}

.principal img{

    width: auto;
    height: auto;

}


.prod-container {
    text-align: center;
    display: inline-block;
    border: 2px solid black;
    padding: 2rem;
    margin: 2rem;
}


img {
    width: 10rem;
    height: 10rem;
}

